form{
	margin-top: 200px;
  margin-left: 40%;
   font-size: 24px;
}
#campo{
	 font-size: 24px;
	 width: 225px;
}
#boton {
	background: #F25C84;
  border-color: #FF5C84;
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
  vertical-align: baseline;
}

